NODE_ENV=development
API_GATEWAY_PORT=8090
FRONTEND_URL=https://<frontend-domain>
JWT_SECRET=<generate-a-64-byte-random-secret>
AUTH_SERVICE_URL=https://<auth-service-domain>
USER_SERVICE_URL=https://<user-service-domain>
ADMIN_SERVICE_URL=https://<admin-service-domain>
