NODE_ENV=development

# Frontend
NEXT_PUBLIC_API_GATEWAY_URL=http://localhost:8080

# Gateway
API_GATEWAY_PORT=8080
FRONTEND_URL=http://localhost:3000
JWT_SECRET=replace-with-a-long-random-secret
AUTH_SERVICE_URL=http://auth-service:4001
USER_SERVICE_URL=http://user-service:4002
ADMIN_SERVICE_URL=http://admin-service:4003

# Services
AUTH_SERVICE_PORT=4001
USER_SERVICE_PORT=4002
ADMIN_SERVICE_PORT=4003
JWT_EXPIRES_IN=1d

# MongoDB database-per-service style
AUTH_MONGO_URI=mongodb://auth-mongo:27017/archive_auth
USER_MONGO_URI=mongodb://user-mongo:27017/archive_users
ADMIN_MONGO_URI=mongodb://admin-mongo:27017/archive_admin
