NODE_ENV=development
ADMIN_SERVICE_PORT=4003
ADMIN_MONGO_URI=mongodb://zentrassembly_db_user:IflFwJXRIfNGIfo4@ac-kcqtgm3-shard-00-00.penuwkq.mongodb.net:27017,ac-kcqtgm3-shard-00-01.penuwkq.mongodb.net:27017,ac-kcqtgm3-shard-00-02.penuwkq.mongodb.net:27017/?ssl=true&replicaSet=atlas-8eipf1-shard-0&authSource=admin&appName=Cluster-1
JWT_SECRET=4ba4f98356b855910fe54de20c9f27e4704003ce7766e78a12f33f3f3ad8b849a2d163a5fad289dc175c610bc67352b8
CORS_ORIGIN=http://localhost:8080
ARCHIVE_UPLOAD_DIR=uploads/archive-items
ARCHIVE_IMAGE_MAX_BYTES=10485760
